modules = ["nodejs-20", "bash"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cmake", "speedtest-cli", "wget", "nano", "tree"]

[userenv]

[userenv.shared]
LOCAL_API_URL = "https://api.bukitcuan.fun"
NTBA_FIX_350 = "1"
